/* --------- ОБНУЛЕННЯ СТИЛІВ ТЕГІВ ------------ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
html,
body{
	height: 100%;
}
body {
	line-height: 1;

}
/* --------------------------------------- */
.movie-list {
  display: grid;
  gap: 2.5rem;
  // .movie-list__all

  &__all {
  }

  // .movie-list__favourites

  &__favourites {
  }

  // .movie-list__watch-later

  &__watch-later {
  }
}
.all-movies {

  // .all-movies__title

  &__title {
  }

  // .all-movies__items

  &__items {
  }
}
.title-movie-section {
  font-size: 2.625rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.3;
  letter-spacing: 0.0563rem;
  color: #2b2b2b;
  padding-left: 1.25rem;
  &:not(:last-child) {margin-bottom: .9375rem;}
}
.items-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  grid-template-rows: 1fr;
  column-gap: 1.25rem;
  row-gap: 1.875rem;
  justify-items: center;
}
.favourites-movies {

  // .favourites-movies__title

  &__title {
  }

  // .favourites-movies__items

  &__items {
  }
}
.watch-later-movies {

  // .watch-later-movies__title

  &__title {
  }

  // .watch-later-movies__items

  &__items {
  }
}
