.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    background: #2a323d;
    border: 0.0625rem solid #3f4b5b;
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    margin: 2.5rem;
    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 0.9375rem;
    }
}

.success-message {
    color: green;
    font-size: 1.2em;
}

.error-message {
    color: red;
    font-size: 1.2em;
}