<div class="page-wrapper">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <div class="form__title">
      <h2>Subscribe for news</h2>
      <p-button class="form__close-button" >X</p-button>
    </div>
    <div class="form__row">
      <p-floatLabel>
        <input type="text" formControlName="username" pInputText id="username-news"
          [ngClass]="{'ng-invalid': formGroup.controls['username'].invalid && formGroup.controls['username'].touched}" />
        <label class="font-semibold w-6rem" for="username-news">Your Name</label>
      </p-floatLabel>

      <p-floatLabel>
        <input type="text" formControlName="email" pInputText id="email"
          [ngClass]="{'ng-invalid': formGroup.controls['email'].invalid && formGroup.controls['email'].touched}" />
        <label class="font-semibold w-6rem" for="email">Your Email</label>
      </p-floatLabel>

      <p-floatLabel>
        <p-calendar id="birth-date" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false"
          formControlName="birthDate"
          [ngClass]="{'ng-invalid': formGroup.controls['birthDate'].invalid && formGroup.controls['birthDate'].touched}"></p-calendar>
        <label class="font-semibold w-6rem" for="birth-date">Your Birth Date</label>
      </p-floatLabel>

      <p-floatLabel *ngIf="genres$ | async as genres">
        <p-multiSelect id="selectedGenres" [options]="genres || []" formControlName="selectedGenres" optionLabel="name"
          placeholder="Select Genres" display="chip" [showClear]="true"
          [ngClass]="{'ng-invalid': formGroup.controls['selectedGenres'].invalid && formGroup.controls['selectedGenres'].touched}"></p-multiSelect>
        <label class="font-semibold w-6rem" for="selectedGenres">Select Genres</label>
      </p-floatLabel>
    </div>

    <div class="form__row">
      <div>
        <p-checkbox formControlName="consent" binary="true" inputId="consent"
          [ngClass]="{'ng-invalid': formGroup.controls['consent'].invalid && formGroup.controls['consent'].touched}"></p-checkbox>
        <label for="consent">  Consent to data processing</label>
      </div>
    </div>

    <div class="form__row">
      <p-button type="submit" label="Subscribe"></p-button>
      <p-button label="Unsubscribe" (click)="onUnsubscribe()"></p-button>
    </div>
  </form>

  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
