<p-card *ngIf="movie" header="{{movie.title}}" subheader="Rating: {{movie.rating}}">
    <ng-template pTemplate="header">
        <img alt="{{movie.title}}" [src]="movie.backdrop_path" />
    </ng-template>
    <p>
        {{movie.description}}
    </p>
    <p>
        {{movie.release_date}}
    </p>
    <p class="movie-duration">
        {{movie.duration | movieTime}}
        <span class="pi pi-clock"></span>
    </p>
    <ng-template pTemplate="footer">
        <p-button *ngIf="showActions" (click)="onAddToFavourites()" class="w-full movie-card-button"
            styleClass="pi pi-heart" />
        <p-button *ngIf="showActions" (click)="onAddToWatchList()" severity="secondary" class="w-full movie-card-button"
            styleClass="pi pi-history" />
        <p-button *ngIf="showRemoveButton" (click)="onRemoveFromList()" severity="secondary"
            class="w-full movie-card-button" styleClass="pi pi-times" />
    </ng-template>
</p-card>