<p-dialog
  [(visible)]="isVisible"
  modal (onHide)="onClose()"
  header="Реєстрація">
  <form [formGroup]="formGroup" (ngSubmit)="onRegister()" class="popup-container">
    <div class="p-float-label">
      <input id="username" type="text" pInputText formControlName="username" />
      <label for="username">Ім'я користувача</label>
    </div>

    <div class="p-float-label">
      <input id="password" type="password" pPassword formControlName="password" />
      <label for="password">Пароль</label>
    </div>

    <div class="popup-buttons">
      <button type="submit" pButton label="Зареєструватися"></button>
      <button type="button" pButton label="Скасувати" (click)="onClose()"></button>
    </div>

    <p *ngIf="error" class="error-message">{{ error }}</p>
  </form>
</p-dialog>
