<p-card *ngIf="movie" header="{{movie.title}}" subheader="Rating: {{movie.vote_average | ratingRounding}}">
    <ng-template pTemplate="header">
        <img alt="{{movie.title}}" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
    </ng-template>
    <p>
        {{movie.overview}}
    </p>
    <p>
        {{movie.release_date}}
    </p>
    <p class="movie-more">
        <a [routerLink]="['/movie/', movie.id]">Show more ></a>
    </p>
    <ng-template pTemplate="footer">
        <p-button *ngIf="isActionsShow" (click)="onAddToFavourites(movie.id)" class="w-full movie-card-button"
            styleClass="pi pi-heart" />
        <p-button *ngIf="isActionsShow" (click)="onAddToWatchList(movie.id)" severity="secondary"
            class="w-full movie-card-button" styleClass="pi pi-history" />
        <p-button *ngIf="isRemoveButtonShow" (click)="onRemoveFromList()" severity="secondary"
            class="w-full movie-card-button" styleClass="pi pi-times" />
    </ng-template>
</p-card>