<div class="page-wrapper">
<!--   <h2 class="page-title">Recommended for You</h2>
  <ng-container *ngIf="recommendationMovies$ | async as recommendation">
    <ng-container *ngIf="recommendation && recommendation.length > 0; else noMovies">
      <div class="all-movies__items items-movies recommendation-list">
        @for(movie of recommendation; track movie.id) {
          <app-movie-card
            [movie]="movie"
            [isActionsShow]="true"
            [isRemoveButtonShow]="false"
          ></app-movie-card>
        }
      </div>
    </ng-container>
    <ng-template #noMovies>
      <p>No recommendations yet, put some films to favourite</p>
    </ng-template>
  </ng-container> -->

  <h2 class="page-title">All movies</h2>
  <ng-container *ngIf="allMovies$ | async as movies; else loading">
    <app-movie-list [movies]="movies"></app-movie-list>
  </ng-container>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
