.movie-details-page {
    display: flex;
    gap: 3.125rem;
    align-items: center;
}
.movie-image {
    flex: 0 1 50%;
    img {
        max-width: 100%;
    }
}
.movie-info {
    font-size: 1.25rem;
    max-width: 50rem;
    line-height: 1.5;
}
