<div *ngIf="movie" class="page-wrapper">
    <div class="movie-details-page">
      <img class="movie-image" [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path" alt="{{ movie.title }}">
      <div class="movie-info">
        <h2 class="page-title">{{ movie.title }}</h2>
        <p>Release Date: {{ movie.release_date }}</p>
        <p>Rating: {{ movie.vote_average | ratingRounding}}</p>
        <p>Description: {{ movie.overview }}</p>
        <p>Original Language: {{ movie.original_language }}</p>
      </div>
    </div>
  </div>
  