<div *ngIf="movie" class="page-wrapper">
    <div class="movie-details-page">
        <img class="movie-image" [src]="movie.backdrop_path" alt="{{ movie.title }}">
        <div class="movie-info">
            <h2 class="page-title">{{ movie.title }}</h2>
            <p>Release Date: {{ movie.release_date }}</p>
            <p>Rating: {{ movie.rating }}</p>
            <p>Description: {{ movie.description }}</p>
            <p>
                {{movie.duration | movieTimeFormating}}
                <span class="pi pi-clock"></span>
            </p>
        </div>
    </div>
</div>