.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.sidebar-list {
  padding-left: 0;
  display: grid;
  gap: 0.9375rem;
  justify-content: center;
  text-align: center;

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    transition: color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: #fff;
      }
    }

    &.active {
      font-weight: bold;
      color: #fff;
    }
  }
}

.sidebar-bottom {
  margin-top: auto;
  text-align: center;

  .sidebar-list__link {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.sidebar-button {
  align-self: center;
}
.sorting-mobile {
  display: none;
  padding-bottom: 1rem;

  @media (max-width: 839px) {
    display: block;
  }
}
