  :host ::ng-deep .p-multiselect {
    width: 300px;
  }

  .items-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 0.5rem;
  align-items: stretch;
  }

  .profile-page {
    margin-top: 2rem;
    padding: 1.5rem;

  .profile-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .profile-actions {
    display: flex;
    gap: 0.5rem;
  }

}

