  :host ::ng-deep .p-multiselect {
    width: 300px;
  }

  .items-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 0.5rem;
  align-items: stretch;
  }
  .create-list-tab {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.custom-list-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
    .profile-page {
    margin-top: 2rem;
    padding: 1.5rem;

  .profile-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .profile-actions {
    display: flex;
    gap: 0.5rem;
  }

}
