<ng-container *ngIf="user; else notLoggedIn">
  <p-card>
    <div class="profile-header">
      <h2>Welcome, {{ user.username }}!</h2>
      <p-button label="logout"></p-button>
    </div>


    <p-tabView>
      <p-tabPanel header="Info">
        <p>Here will be your personal info and stats.</p>
      </p-tabPanel>

      <p-tabPanel header="liked">

      </p-tabPanel>
      <p-tabPanel header="watch list">

      </p-tabPanel>
      <p-tabPanel header="other">

      </p-tabPanel>
    </p-tabView>
  </p-card>
</ng-container>

<ng-template #notLoggedIn>
  <p>You are not logged in. Please log in first.</p>
</ng-template>
