:host ::ng-deep .p-card {
  margin: 2rem;
}

:host ::ng-deep .p-multiselect {
  margin-top: 1rem;
  width: 300px;
}
.profile-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.items-movies {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
gap: 0.5rem;
align-items: start;

}
