<p-toolbar>
  <div class="p-toolbar-group-start">
    <app-sidebar></app-sidebar>
    <app-movies-sorting class="sorting-desktop"></app-movies-sorting>
  </div>
  <div class="p-toolbar-group-center">
  </div>
  <div class="p-toolbar-group-end">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText placeholder="Search" [formControl]="searchControl" />
    </span>
  </div>

</p-toolbar>

<div class="page-wrapper">
  <ng-container *ngIf="movies$ | async as movies;">
    <h2 class="page-title">Results of searching "{{ searchControl.value }}"</h2>
    <app-movie-list [movies]="movies"></app-movie-list>
  </ng-container>
</div>
